:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --black: #040303;
    --white: #fff;
    --dark-green: #3a4e48;
    --light-green: #8b9d83;
    --med-green: #6a7b76;
    --beige: #BEB0A7;
}

body {
    color: var(--black);
    background-color: var(--beige);
}

#main {
    min-width: 150px;
    width: max-content;
}

#main > h1 {
    font-family: lobster, sans-serif;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
}

#picker-btn {
    padding: 5px 7px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 0px 4px;
    cursor: pointer;
    transition: all 0.3s;
}

#picker-btn:hover {
    background-color: var(--light-green);
}

#result {
    list-style: none;
    grid-gap: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#result > li {
    cursor: pointer;
    padding: 2px 5px;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    text-shadow: 0.5px 0.5px 0 #cfcfcf, -0.5px -0.5px 0 #cfcfcf, 0.5px -0.5px 0 #cfcfcf, -0.5px 0.5px 0 #cfcfcf;
}

.errorLabel {
    color: var(--white);
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
}

#clearButton {
    padding: 5px 7px;
    border-radius: 10px;
    background-color: var(--dark-green);
    color: var(--white);
    border: 1px solid black;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 0px 4px;
    cursor: pointer;
    transition: all 0.3s;
}

#clearButton:hover {
    background-color: white;
    color: black;
}