:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --black: #040303;
    --gray: #e0e0e0;
    --dark-gray: #777;
    --med-gray: #ddd;
    --yellow: #ffca58;
    --white: #fff;
    --blue: #63afb7;
    --green: #8ec296;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--system-ui);
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    text-align: center;
    width: max-content;
    min-width: 150px;
    max-width: 350px;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, var(--blue) 0%, #579aa1 100%);
    padding: 8% 13% 8% 8%;
}

#main {
    min-width: 150px;
    padding: 10px;
}


h1 {
    margin-bottom: 3%;
    font-size: 1.8em;
    position: relative;
}

p {
    margin-bottom: 3%;
    font-size: 1.2em;
    position: relative;
}

#picker-btn, #clearButton {
    padding: 5px 7px;
    color: var(--black);
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin: 0 4px;
    border-radius: 50px;
    background: var(--gray);
    box-shadow:  20px -20px 60px #bebebe,
    -20px 20px 60px #ffffff;
    cursor: pointer;
    transition: all 0.3s;
}

#picker-btn {
    margin-bottom: 4%;
}

#clearButton {
    margin-top: 4%;
}

#result {
    list-style: none;
    grid-gap: 10px;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}
/* maybe set margin to aut? or at least play with it. also check padding: maybe the bigger padding-right makes it
expand to the right when text gets bold*/
#result > li {
    text-align: center;
    font-size: 1em;
    width: 100%;
    text-align: center;
    padding: 5px 25px 5px 10px;
    margin: 0 4px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px -20px 60px #bebebe, -20px 20px 60px #ffffff;
    cursor: pointer;
    transition: all 0.3s;
}

#picker-btn:hover, #clearButton:hover, #result > li:hover {
    background: linear-gradient(135deg, var(--blue) 0%, var(--gray) 100%);
}

.errorLabel {
    color: var(--black);
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1em;
    border-radius: 10px;
}
